.hero_section {
    position: relative;
    margin-top: 60px;
    overflow: hidden;
}
.hero_img {
    width: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to top, transparent, black 10%);
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade {
    opacity: 0; /* La imagen desaparece gradualmente */
  }